<nav class="breadcrumb" aria-label="Breadcrumb" *ngIf="items.length">
  <ol class="breadcrumb__list">
    <li class="breadcrumb__item" *ngFor="let item of items; let last = last">
      <a
        *ngIf="!last && item.url; else current"
        class="breadcrumb__link"
        [routerLink]="item.url"
      >
        <mat-icon *ngIf="item.icon" class="breadcrumb__icon">{{ item.icon }}</mat-icon>
        <span>{{ item.label }}</span>
      </a>
      <ng-template #current>
        <span class="breadcrumb__current">
          <mat-icon *ngIf="item.icon" class="breadcrumb__icon">{{ item.icon }}</mat-icon>
          <span>{{ item.label }}</span>
        </span>
      </ng-template>
      <mat-icon *ngIf="!last" class="breadcrumb__separator">chevron_right</mat-icon>
    </li>
  </ol>
</nav>
